{"A" {"a" 0.9, "A" 1},
 "a" {"A" 0.9, "a" 1},
 "B" {"b" 0.9, "B" 1},
 "b" {"B" 0.9, "b" 1},
 "C" {"c" 0.9, "C" 1},
 "c" {"C" 0.9, "c" 1},
 "D" {"d" 0.9, "D" 1},
 "d" {"D" 0.9, "d" 1},
 "E" {"e" 0.9, "E" 1},
 "e" {"E" 0.9, "e" 1},
 "F" {"f" 0.9, "F" 1},
 "f" {"F" 0.9, "f" 1},
 "G" {"g" 0.9, "G" 1},
 "g" {"G" 0.9, "g" 1},
 "H" {"h" 0.9, "H" 1},
 "h" {"H" 0.9, "h" 1},
 "I" {"i" 0.9, "I" 1},
 "i" {"I" 0.9, "i" 1},
 "J" {"j" 0.9, "J" 1},
 "j" {"J" 0.9, "j" 1},
 "K" {"k" 0.9, "K" 1},
 "k" {"K" 0.9, "k" 1},
 "L" {"l" 0.9, "L" 1},
 "l" {"L" 0.9, "l" 1},
 "M" {"m" 0.9, "M" 1},
 "m" {"M" 0.9, "m" 1},
 "N" {"n" 0.9, "N" 1},
 "n" {"N" 0.9, "n" 1},
 "O" {"o" 0.9, "O" 1},
 "o" {"O" 0.9, "o" 1},
 "P" {"p" 0.9, "P" 1},
 "p" {"P" 0.9, "p" 1},
 "Q" {"q" 0.9, "Q" 1},
 "q" {"Q" 0.9, "q" 1},
 "R" {"r" 0.9, "R" 1},
 "r" {"R" 0.9, "r" 1},
 "S" {"s" 0.9, "S" 1},
 "s" {"S" 0.9, "s" 1},
 "T" {"t" 0.9, "T" 1},
 "t" {"T" 0.9, "t" 1},
 "U" {"u" 0.9, "U" 1},
 "u" {"U" 0.9, "u" 1},
 "V" {"v" 0.9, "V" 1},
 "v" {"V" 0.9, "v" 1},
 "W" {"w" 0.9, "W" 1},
 "w" {"W" 0.9, "w" 1},
 "X" {"x" 0.9, "X" 1},
 "x" {"X" 0.9, "x" 1},
 "Y" {"y" 0.9, "Y" 1},
 "y" {"Y" 0.9, "y" 1},
 "Z" {"z" 0.9, "Z" 1},
 "z" {"Z" 0.9, "z" 1}}
